.content {
  padding-bottom: 2rem;
}

#accountScreen {
  width: 100%;
  display: flex;
  justify-content: center;
}

#accountScreen .accountHeader {
  display: flex;
  margin-top: 1rem;
  width: 80%;
}

#accountScreen .profileContainer {
  display: flex;
  align-items: center;
}

#accountScreen .profileContainer div {
  margin-left: 2rem;
}

#accountScreen .profileContainer h1 {
  margin-top: 0;
}

#accountScreen h3 {
  display: flex;
  align-items: center;
}

#accountScreen .accountItem div {
  margin-left: 0.5rem;
}

#accountScreen .accountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountBody {
  width: 80%;
}

.placeholderText {
  color: #949494;
  font-weight: 500;
  margin-left: 1rem;
}

.accountBio {
  margin: 1rem 0;
}

.accountBio p {
  margin-left: 2rem;
}

.accountStats {
  margin-left: 8rem;
  margin-top: 1rem;
}

#accountScreen .socialLinks {
  margin-bottom: 1.5rem;
}

.accountContent {
  min-width: 800px;
}

#editAccountScreen h3 {
  margin: 0;
}

.accountItem {
  display: flex;
  align-items: center;
}

.accountItem:first-of-type {
  margin-top: 1rem;
}

#editAccountScreen .accountItem {
  padding: 0px 0px 2rem 0px;
}

.accountItem input {
  padding: 5px 10px;
}

#editAccountScreen .accountItem div {
  background-color: #dedede;
  flex: 1 1;
  margin-left: 1.5rem;
  border-radius: 5px;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.brand-icon {
  font-size: 30px;
}

#instagram {
  background: linear-gradient(
    -45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#snapchat {
  color: #fffc00;
  -webkit-text-stroke: 1px black;
}

.smallInput {
  width: 10vw;
}
.largeInput {
  width: 20vw;
  height: 15vh;
}
#editAccountScreen .profilePic,
#accountScreen .profilePic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}

.products {
  line-height: normal;
}
.socialLinks {
  line-height: 30px;
}

#settingsEditButton {
  margin-left: 5rem;
  margin-top: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  background-color: #1cbfff;
  border-radius: 5px;
}

#settingsMessageDisplay {
  display: none;
  background-color: #ff3d3d;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
}

#settingsModalBody input {
  line-height: 1.5rem;
  font-size: 1rem;
}
