html {
  font-size: 1rem;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: 0;
}

body {
  margin: 0;
  background-color:#f8f2f0;
}

main {
  flex: 1 1;
  display: flex;
  padding-bottom: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #363636;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  border-bottom: 3px solid #eb4e4e;
}

header a {
  color: white;
}

.logo {
  margin-left: 0.5rem;
}

.logo a {
  font-size: 2.5rem;
  font-weight: bold;
}

.header-links {
  display: flex;
  /* align-items: center; */
}

.header-links a {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}

.header-links a:hover {
  color: #fd5252;
}

.hamburger-btn {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-100%);
  width: 20rem;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  transition: all 0.5s;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-btn {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.sidebar li {
  list-style: none;
}

.content {
  padding-bottom: 2rem;
}
