a {
  text-decoration: none;
}

.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.items a:hover {
  color: #ff8000;
}

.items li {
  /* flex: 0 1 20rem; */
  list-style-type: none;
  padding: 0;
  margin: 1rem;
}

.itemName {
  font-size: 2rem;
  font-weight: bold;
}

.itemPrice {
  font-size: 2rem;
  font-weight: bold;
}

.itemImage {
  /* max-width: 20rem;
  max-height: 20rem; */
}
