.itemContainer {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(245, 241, 241);
}

.itemImages {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.imageView {
  position: relative;
  display: flex;
  width: 25rem;
  height: 35rem;
  justify-content: center;
  align-items: center;
  background-color: #3c3f40;
}

.imageView img {
  object-fit: cover;
  width: 100%;
}

.imageArrowBtn,
.gallery-arrow-btn {
  position: absolute;
  border: none;
  outline: none;
  height: 3rem;
  cursor: pointer;
  background-color: #70dbff;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.imageArrowBtn {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

.imageArrowBtn:hover {
  opacity: 1;
}

.imageArrowBtn:first-of-type {
  left: 0;
  transform: translate(-50%, -50%);
}

.imageArrowBtn:last-of-type {
  right: 0;
  transform: translate(50%, -50%);
}

.gallery-arrow-btn:first-of-type {
  left: 0;
  transform: translateX(-100%);
}

.gallery-arrow-btn:last-of-type {
  right: 0;
  transform: translateX(100%);
}

.image-gallery {
  position: relative;
  display: flex;
  flex-direction: row;
}

.image-gallery img {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
}

.listing-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.listing-header {
  border-bottom: 1.5px solid #757575;
}

.listing-name {
  margin: 0;
}

.listing-header p {
  margin: 0.5rem 0;
}

.listing-info {
  margin: 2rem;
}

.listing-info p {
  margin-bottom: 0.5rem;
}

.listing-info p:last-of-type {
  margin-bottom: 0;
}

.details-action {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 1rem;
}

.details-action-text {
  margin-left: 1rem;
}

.details-action-text p {
  margin-bottom: 1rem;
}

.details-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.details-action-buttons button {
  border: 0;
  outline: none;
  width: 30%;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#watchlist-button {
  background-color: #f5cb42;
}

#contact-button {
  background-color: #ff8317;
}
