#newListingScreen {
  width: 100%;
}

.listing {
  display: block;
  position: relative;
  width: 50vw;
  margin: 0 25% 0 25%;
}

.listingHead {
  position: relative;
  width: 100%;
  text-align: center;
}

.listingForm {
  text-align: center;
  width: 80%;
  margin: 0 10% 0 10%;
  text-align: left;
  position: relative;
  padding-bottom: 5rem;
}

#newListingScreen .listingValue {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

#newListingScreen .inputContainer {
  margin-left: 1rem;
  font-size: 1.3rem;
  width: 100%;
}

#newListingScreen textarea.inputContainer {
  outline: none;
  font: 400 1rem Arial;
  padding: 7px;
}

.preview {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
}

.preview img {
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

#newListingScreen .imageOverlay {
  background: rgba(92, 92, 92, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
}

#newListingScreen .imageOverlay:hover {
  opacity: 1;
}

#newListingScreen .buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

#newListingScreen .submitBtn {
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 130px;
  margin-left: 1rem;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #43de40;
}
