.category {
  color: black;
  font-size: 20px;
}

.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
}

.headerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
