.hamburger-btn {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  float: left;
}

.sidebar {
  position: fixed;
  transform: translateX(-105%);
  width: 20rem;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  transition: all 0.5s;
  z-index: 100;
  box-shadow: 0 5px 15px#878787;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-btn {
  border: none;
  outline: none;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.sidebar li {
  list-style: none;
}

#sidebar .overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 99;
}

#homeLarge {
  float: left;
}
#homeSmall {
  float: left;
  height: 100%;
  width: auto;
  display: none;
}

@media (max-width: 1300px) {
  #homeSmall {
    display: inline-block;
  }
  #homeLarge {
    display: none;
  }
}

.logo {
  min-width: 15%;
  display: flex;
  align-items: center;
}

.sidebar .sidebarHead {
  color: black;
}
.sidebar a {
  color: black;
  font-size: 20px;
}
.sidebar h4 {
  color: black;
  font-size: 20px;
}
.sidebar h1 {
  color: black;
  font-size: 25px;
}
.sidebar a:hover {
  color: #fc4040;
}
.sidebar .sidebarCategory h4 {
  line-height: 1px;
}
