#watchlistScreen {
  width: 100vw;
}

#watchlistScreen h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.itemLabels {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

#watchlistScreen .label {
  color: #a8a8a8;
  margin-left: 1.5rem;
}

#watchlistScreen .label:first-of-type {
  margin-left: 0;
}

#watchlistScreen .items {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

#watchlistScreen ul {
  padding: 0;
  margin: 0;
}

#watchlistScreen .item {
  margin: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#watchlistScreen .items a:hover {
  color: #ff8000;
}

#watchlistScreen .item .label {
  color: black;
  font-size: 1rem;
}

#watchlistScreen .items li {
  margin: 0;
  list-style: none;
}

#watchlistScreen .itemImage {
  width: 10%;
}

#watchlistScreen .itemImage img {
  object-fit: contain;
  max-width: 100%;
  max-height: 80px;
}

#watchlistScreen .itemName {
  flex: 1;
  margin-left: 1.5rem;
}

#watchlistScreen .itemPrice {
  width: 5%;
  min-width: 50px;
}

#watchlistScreen .itemPoster {
  width: 10%;
  min-width: 90px;
}

#watchlistScreen .buttonSection {
  width: 8%;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

#watchlistScreen .buttonSection button {
  color: #1657fa;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#watchlistScreen .placeholderText {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
